#main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.guess {
    margin: auto;
    min-width: 50%;
    text-align: center;
    padding: 10px;
    gap: 10px;
    background: #272c4e;
    width: calc(100% - 20px);
    border-radius: 5px;
}

.guess h2 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
}

.guess-internals {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #2d3252;
    height: auto;
    border: 2px solid transparent;
    border-radius: 5px;
    font-family: "Shentox Regular", sans-serif;
}

.other-over {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.guess-internal {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.specials {
    justify-content: flex-start;
}

.ship-name {
    font-family: "Bank Gothic Regular", sans-serif;
}

.ship-image {
    border-radius: 3px;
}

.half {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.specials-head {
    color: white;
    font-size: 18px;
}

.guess-correct {
    /*background: #0080aa;*/
}

.weapon-image-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: auto;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}

.faction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form-over {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    position: relative;
}

#form-over h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    height: calc(100% - 40px);
}

#form-over button {

}

.other-internals {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.image-over {
    flex: 0;
    flex-basis: 150px;
}

.main-input input {
    padding: 10px;
    background-color: transparent;
    outline: none;
    min-width: 500px;
}

.main-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #3a3e57;
    position: relative;
}

.omnibox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    padding: 0;
    border: 1px solid #3a3e57;
    width: 100%;
    background: rgb(24 36 68);
    position: absolute;
    top: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    max-height: 300px;
    overflow-x: hidden;
}

.omnibox-entry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 500px;
    cursor: pointer;
    border-bottom: 1px solid #3a3e57;
}

.omnibox-entry:last-of-type {
    border-bottom: 0;
}

.main-input:has(> .omnibox) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

@media screen and (max-width: 600px) {
    #form-over {
        padding-top: 10px;
    }

    form {
        padding-bottom: 0 !important;
        padding-top: 0 !important;
        height: 100%;
    }

    #main {
        padding-bottom: 0 !important;
    }

    .guess-internals {
        flex-direction: column;
    }

    .guess-internal {
        width: 100%;
    }

    .weapon-image-container {
        flex-direction: column;
    }

    .faction {
        flex-direction: column;
    }

    .other-internals {
        flex-direction: column;
    }

    .image-over {
        flex: 0;
        flex-basis: 100px;
    }

    .main-input input {
        width: 80%;
        min-width: 0;
    }

    .omnibox {
        width: 100%;
    }

    .omnibox-entry {
        width: 100%;
    }
    
}